*{
    box-sizing: border-box;
}
form{
    margin: auto;
    width: 400px;
    padding: 30px;
    background-color: rgb(9, 98, 88);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    color: white;
}
input{
    width: 340px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid gray;
    padding-left: 10px;
    margin-bottom: 15px;
    outline: none;
    border: none;
}
input::placeholder{
    color: rgb(13, 77, 161);
    font-size: 17px;
}
input:hover::placeholder{
    color: red;
}
button{
    margin: auto;
    width: 150px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(77, 177, 72);
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}
button:hover{
    opacity: 0.6;
    color: white;
}
